.homenav {
 height: 20vh;
 background-image: url('../../../img/header.png');
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 3%;
}
h4 {
 color: white;
}