.manager-form {
 display: flex;
 flex-direction: column;
}
#search-wrapper input{
 width: 100%;
 position: relative;
}
.search-item:hover {
 cursor: pointer;
 background: rgba(0,0,0,0.2)
}
#dropdown {
 -webkit-box-shadow: 0px -1px 11px -1px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px -1px 11px -1px rgba(0,0,0,0.75);
 box-shadow: 0px -1px 11px -1px rgba(0,0,0,0.75);
 border: 1px solid rgba(0,0,0,0.2);
 min-height: 0%;
 width: 100%;
 transition: all .5s ease-in-out;
 z-index: 999;
}