#login-wrapper {
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
#login-header {
 width: 100%;
 height: 10%;
 background: lightgrey;
 border-radius: 10px 10px 0px 0px;
}
.login-nav {
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}
#login-content {
 background: white;
 border-radius: 10px;
 display: flex;
 align-items: center;
 flex-direction: column;
 width: 40vh;
 height: 40vh;
}
#login {
 margin: 5%;
 display: flex;
 flex-direction: column;
}
.validation-modal {
 display: none;
 position: absolute;
 top: -60;
 padding: 8%;
 height: 75;
 width: 300;
 text-align: 'center';
 z-index: 999;
}